{% extends 'base.public.html.twig' %}

{% block title %}KGB Missions{% endblock %}

{% block body %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Welcome to the list of all KGB Missions</h1>
                    <p class="lead text-muted">These missions have the only goal of contributing to the common good</p>
                    <p>
                        <a href="{{ path('admin') }}" class="btn btn-primary my-2">Administration</a>
                    </p>
                </div>
            </div>
        </section>

        <section class="py-5 text-center container">
            <table-missions></table-missions>
        </section>
    </main>

{% endblock %}
